.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f4ebe0c87612dab4f12a597%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D292%26cropX2%3D3684%26cropY1%3D592%26cropY2%3D3987');
    background-size: cover;
  }

#date{

  background: blue;
  padding: 2px;
  color: white;
  width: 110px;

  display: flex;
  justify-content: space-between;
}

.content{
  padding:16px;
}


.column-label {
  margin-right: 8px;
  font-size: 1rem;

}
